<script id="bullet_partial" type="text/x-handlebars-template">
	<div class="nugget">
		<span title="added by <%= current_user.email %>">
			{{nugget}}
		</span>
		<span class="deleteX">
			<a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/bullets/{{id}}">Delete</a> 
		</span>
	</div>
</script>
