<script id="post_bullet_partial" type="text/x-handlebars-template">
	<form class="new_bullet" id="new_bullet" action="/comparisons/<%= @comparison.id %>/bullets" accept-charset="UTF-8" method="post">
		<input name="utf8" type="hidden" value="✓">
		<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
		<input type="text" name="bullet[nugget]" id="bullet_nugget">
		<input type="submit" name="commit" value="add point" data-disable-with="add point">
	</form>
</script>

<script id="bullet_partial" type="text/x-handlebars-template">
	<div class="nugget">
		<span title="added by <%= current_user.email %>">
			{{nugget}}
		</span>
		<span class="deleteX">
			<a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/bullets/{{id}}">Delete</a> 
		</span>
	</div>
</script>