<div class="comparison_main">
	
</div>

<script id="comparison_show_template" type="x-handlebars-template">
	<h1>Comparison Details</h1>
	
	<div class="comparison_header">
		<a href="/items/{{item.id}}">
			{{item.title}}
			<img src="{{item.image}}" class="small_image alignmiddle"> 
		</a>
		<span class="enlarge">⇔</span>

		<a href="/items/{{compared.id}}">
			<img src="{{compared.image}}" class="small_image alignmiddle">
			{{compared.title}}
		</a>
	</div>

	<div class="sleekFrame squish_width">
		<h3>quick comparison</h3>
		
		{{#each bullets}}
			{{> bullet}}
		{{/each}}

		{{> post_bullet}}
	</div>
</script>

<script id="post_bullet_partial" type="text/x-handlebars-template">
	<form class="new_bullet" id="new_bullet" action="/comparisons/<%= @comparison.id %>/bullets" accept-charset="UTF-8" method="post">
		<input name="utf8" type="hidden" value="✓">
		<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
		<input type="text" name="bullet[nugget]" id="bullet_nugget">
		<input type="submit" name="commit" value="add point" data-disable-with="add point">
	</form>
</script>

<script id="bullet_partial" type="text/x-handlebars-template">
	<div class="nugget">
		<span title="added by <%= current_user.email %>">
			{{nugget}}
		</span>
		<span class="deleteX">
			<a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/bullets/{{id}}">Delete</a> 
		</span>
	</div>
</script>