<h1>Categories</h1>

<h3><%= link_to 'Add Category', new_category_path %></h3>

<div class="basic_only">
	
</div>

<script id="category_index_item_template" type="text/x-handlebars-template">
		<div class="basic_item">
			<h3><a href="/categories/{{id}}">{{name}}</a></h3>
		  <p>
		  	<span class="info_span"><b>updated_at:</b> {{updated_at}}</span>  
				<div class="tags">
					{{#each @tags}}
						<div class="tag">{{@label}}</div>
					{{/each}}
				</div>
				<br>
				<a class="steelblue_text" href="/categories/{{id}}/items/new">add item</a> |
				<a class="grey_text" href="/categories/{{id}}/edit">edit category</a>
			</p>
		</div>
</script>